<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css')}}">
        <script src="https://kit.fontawesome.com/33bdb2931a.js" crossorigin="anonymous"></script>
    <title>VSystem</title>
  </head>
  <body>
    <!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <!-- <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> -->
    VSystem Control Panel
  </a>
</nav>
<nav class="navbar fixed-bottom navbar-light bg-light">
    <ul class="nav navbar-nav mx-auto">
    <li>
    <button  type="button" class="btn btn-dark circle" data-toggle="modal" data-target="#MC">
    <i class="fas fa-chart-pie"></i>
    </button>
    <button  type="button" class="btn btn-dark circle" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-plus"></i>
      </button>
    <button class="btn btn-dark circle" type="button" id="trash" data-toggle="modal" data-target="#exampleModalCenter">  
    <i class="fas fa-trash-alt"></i>
    </button>
    <button  type="button" class="btn btn-dark circle" id="reloaded">
      <i class="fas fa-sync-alt"></i>
    </button>
 
    
    </li>
    
  <!-- <li><a class="navbar-brand" href="#">Fixed bottom</a></li></ul> -->
</nav>
<div id="refresh">
<table class="table table table-hover" id="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Age</th>
      <th scope="col">Votes</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
     -->
    {%for i in range(0,row)%}
    <tr>
      <th scope="row">{{i+1}}</th>
      {%for j in range(0,col)%}
      
      <td>{{data[i][j]}}</td>
      {%endfor%}
    </tr>
    {%endfor%}
  </tbody>
</table>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enter Cantidate name to delete:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
        <div class="form-row">
                  <div class="form-group col-md-12">
                  
                    <input type="name" class="form-control" id="delete">
                  </div>
                </div>
        
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button onclick="del()" type="button" class="btn btn-danger">delete</button>
      </div>
    </div>
  </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="5" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a cantidate</h5>
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/register" enctype="multipart/form-data">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="Name">Name</label>
                    <input type="name" class="form-control" id="fname" name="fname">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="Image">Upload an image:</label>
                    <div class="custom-file">
                      
                      <input type="file" class="custom-file-input" id="profile_image" name="profile_image">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="InputAge">Age</label>
                    <input type="text" class="form-control" id="age" name="age">
                 </div>
                  <div class="form-group col-md-6">
                      <label for="Inputgender">Gender</label>
                      <!-- <input type="text" class="form-control" id="gender"> -->
                      <select class="custom-select custom-select-md" id="gender" name="genders">
                        <option selected value="male">male</option>
                        <option value="female">female</option>
                        <option value="other">other</option>
                      </select>
                    </div>
                  </div>
                  
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                  <label for="inputAddress2">Address 2</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                  
                
                  
                
                </div>
              
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button  type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="MC" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container"><div class="row"><div class="col"><div id="piechart"></div></div></div></div>
        
      </div>
      
    </div>
  </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript">
     $('#profile_image').on('change',function(){
                //get the file name
                var fileName = $(this).val().replace('C:\\fakepath\\', " ");
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
    // Register fuction
    $(document).ready(
      $("#fname").val(""),
            $("#age").val(""),
            $("#gender").val(""),
            $("#delete").val("")
    );
    // function register()
    // { var gender=$('#gender').find(":selected").text();
    //       $.ajax({
    //       data:{
    //         name:$("#fname").val(),
    //         age:$("#age").val(),
    //         gender:gender
    //       },
    //        type:'POST',
    //        url:'/register'
    //       }).done(function(data){
    //         $(exampleModal).modal('toggle');
            
    //         $("#fname").val(""),
    //         $("#age").val(""),
    //         $("#gender").val("")
    //            $("#table").fadeOut(800,function(){
    //             $("#refresh").html($("#refresh").load(location.href+" #table")).fadeIn().delay(2000);
                
    //            });
    //       });
    //  }
    //  function reload()
    //  {
       
    //   chart();
    //   $("#table").fadeOut(800,function(){
    //             $("#refresh").html($("#refresh").load(location.href+" #table")).fadeIn().delay(2000);
    //  });
    // }

     function del()
        {
          $.ajax({
          data:{
            delete:$("#delete").val(),
          },
           type:'POST',
           url:'/delete'
          }).done(function(data){
            $(exampleModalCenter).modal('toggle');
            
            $("#delete").val(""),
            $("#reloaded").click();
          });
        
        }
 
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"], "callback": drawChart});
google.setOnLoadCallback(drawChart);

var chart;

function drawChart() {

    var data = google.visualization.arrayToDataTable([
        ['Task', 'Vote'],
        {%for i in range(0,row)%}
       {%for j in range(0,1)%}
        ['{{data[i][j]}}', {{data[i][j+3]}}],
       {%endfor%}
      {%endfor%}
    ]);

    var options = {

      width: '100%',
        height: '100%',
        pieSliceText: 'percentage',
        chartArea: {
            left: "3%",
            top: "3%",
            height: "94%",
            width: "94%" }

    };


    chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
}


$(document).ready(function(){
//On button click, load new data
    $("#reloaded").click(function() {
      $("#table").fadeOut(800,function(){
      $("#refresh").html($("#refresh").load(location.href+" #table")).fadeIn().delay(2000);
      });
      $.ajax({
          data:{
            reloader:true,
          },
           type:'POST',
           url:'/cpchart'
          }).done(function(data){
            console.log(data.list.length);

             var dataArray = [['Name', 'Votes']];
             for (var i = 0; i < data.list.length; i++) {
        for (var j = 0; j < 1; j++) {
          dataArray.push([data.list[i][j],data.list[i][j+3]]);
        }  
        }
        console.log(dataArray);
  

        var data = google.visualization.arrayToDataTable(dataArray);
        console.log(data)
        var options = {
          width: '100%',
        height: '100%',
        pieSliceText: 'percentage',
        chartArea: {
            left: "3%",
            top: "3%",
            height: "94%",
            width: "94%" }

        };
        chart.draw(data, options);
     
    });
    });
});
    </script>
  </body>
</html>