<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css')}}">
        <script src="https://kit.fontawesome.com/33bdb2931a.js" crossorigin="anonymous"></script>
    <title>VSystem</title>
  </head>
  <body class="bg-light">
        <nav class="navbar navbar-dark bg-dark ">
                <a class="navbar-brand navbar-centered text-white" href="#">
                  <!-- <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> -->
                  <div id="title"><em>VSystem</em></div>
                </a>
                <!-- <ul class="nav navbar-nav navbar-centered">
                  <li><a href="#"></a><span class="glyphicon glyphicon-user"></span>VSystem</a></li>
                  </ul> -->
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#"><span class="glyphicon glyphicon-user"></span>Logged in as {{usr}}</a></li>
                  </ul>
              </nav>
              <br><br>
      <div class="container">
          
            <div class="row">
              {%for i in range(0,row)%}
                {%for j in range(0,1)%}
            <div id="{{data[i][j]}}" class="col-sm-6 col-md-4 col-lg-3 candicards" style="margin-bottom: 10px;">
              <div class="card bg-white text-dark border" style="width: 13rem;">
            <img id="avatar" class="card-img-top p-1" src="{{ url_for('file',filename=data[i][j+4])}}" alt="" width="206px" height="206px">
            <div class="card-body">
              <h5 class="card-title text-center">{{data[i][j]}}</h5>
              <p class="card-text text-center">
                  {{data[i][j+1]}}<br>{{data[i][j+2]}}
                </p>  
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
            </div>
            {%endfor%}
        </div>
        {%endfor%}
        
        </div>
    </div>
<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="pickmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="mdbody">
          ...
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-primary" id="confirm"> Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
       
        </div>
      </div>
    </div>
  </div>


               <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   <script type="text/javascript">
    $(document).ready(
      function(){
   $(".candicards").click(
     function(){
       var name=$(this).attr('id');
       $("#mdbody").html("Are you sure you want to vote for "+name+"?");
      //  alert($("#mdbody").html());
       
       $("#pickmodal").modal("toggle");
       $("#confirm").click(
         function(){
           console.log(name);
           if (name!=null) vote(name);

           name=null;

         }
       );
       
      //  alert(name);
  });
  });
  function vote(v)
        {
          // alert("isshere"+v);
          $.ajax({
          data:{
            vote:v,
          },
           type:'POST',
           url:'/voted'
          }).done(function(data){
            $(this).data('requestRunning', false);
            $("#pickmodal").modal('toggle');
             v="";
             window.location.href = "/"
               });
          }
        
        
 
   </script>
</body>
</html>