<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css')}}">
        <script src="https://kit.fontawesome.com/33bdb2931a.js" crossorigin="anonymous"></script>
    <title>VSystem</title>
  </head>
  <body>
<!-- 
    <nav class="navbar navbar-dark bg-dark ">
    <a class="navbar-brand navbar-centered text-white" href="#">
      
      <div id="title"><em>VSystem</em></div>
    </a>
    
    </nav> -->


<div class="container">
 
    <div class="row">
      <div class="col-lg-4  hidden-xs col-md-3"> </div>
        <div class="col-lg-4  col-sm-12 col-md-6">
          <div class="shadow-none p-3 mb-5 bg-light rounded border" id="shadow1">
            <center><i class="far fa-user fa-7x" id="user-icon"></i></center>
<form method="POST">
    <div class="form-group row">
      
      <div class="col-sm-12">
        <input name="user" type="name" class="form-control" id="user" placeholder="username">
      </div>
    </div>
    <div class="form-group row">
     
      <div class="col-sm-12">
        <input type="password" class="form-control" name="pwd" id="pwd" placeholder="password">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12" style=" text-align: center;">
        <button id="submit" type="submit" class="btn custom1">Sign in</button>
      </div>
    </div>
  </form>
</div> 
</div>
<div class="col-lg-4 hidden-xs  col-md-3"></div>
</div>
<div class="row">
  <div class="col-sm-12" style=" text-align: center;">
  {%with messages=get_flashed_messages() %}
    {% if messages %}
      {% for message in messages%}
      <div class="alert alert-warning" role="alert">
      {{message}}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}   
</div>
</div>
</div>
</div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   
    <script type="text/javascript">
    // $("#submit").click(
    // function()
    //     {
    //       // alert("isshere"+v);
    //       $.ajax({
    //       data:{
    //         user:$("#user").val(),
    //         pwd:$("#pwd").val()
    //       },
    //        type:'POST',
    //        url:'/'})
    //       // .done(function(data){ });
    //       });
  
    </script>
</body>
</html>