
.circle{
    border-radius: 50%;
    margin-left:20px;
    margin-right:20px;
}
#trash{
    background-color:red;
    border:red;
}
.box{
    margin-top: 10rem;
}
#navbar {
    position: relative;
}
#brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}
#avatar{
 object-fit: cover;
 border-radius: 50%;
 width: 206px;
 height: 206px;     
}
#user-icon{
margin-bottom: 60px;
margin-top: 40px;
color: rgba(44, 167, 248,0.5);
}
#shadow1
{
    
    margin-top: 100px;
}
.form-control
{
margin-bottom: 36px;
}
.custom1
{
color: #EEFCFD;
background-color: #2CA7F8;
border-color: #007bff;
}
.form-group
{
    margin-bottom: 0px !important;
}